<!--
<nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
      	<div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">Home</a>
			<a class="navbar-brand" ui-sref="cart">Cart</a>
			<a class="navbar-brand" ui-sref="questions">Questions</a>
		</div>
	</div>
</nav>
-->

<div  id="headerbg">

	<img class="img-responsive center-block headercenter" src="images/logo.jpg" alt="LOGO goes here"></img>

	<p class="text-center logofollow">Title</p>

	<div class="container"> <!-- needed to prevent horizonal scroll bar from appearing as a result of row giving -15 margin-->
		<div class="text-center row btnbg" role="group" aria-label="navigation">
			<a class="btn btn-link" ui-sref="home">Entries</a>
			<a class="btn btn-link" ui-sref="cart">Chart</a>
			<a class="btn btn-link" ui-sref="questions">Questions</a>
		</div>
	</div>
</div>